<form method="post" action="{{ path('app_publication_delete', {'idpub': publication.idpub}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ publication.idpub) }}">
    <button class="btn">Delete</button>
</form>
