<form method="post" action="{{ path('app_reservationv_delete', {'idr': reservationv.idr}) }}" onsubmit="return confirm('Voulez-vous supprimer votre réservation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservationv.idr) }}">
    <button class="btn">Supprimer</button>
</form>
