{% extends 'back.html.twig' %}

{% block body %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-outline card-info">
                    <div class="card-header">
                        <br>
                        <div class="card-body pad">
                            {% form_theme format 'bootstrap_4_layout.html.twig' %}
                            {{ form_start(format) }}
                            {{ form_errors(format) }}


                            {{ form_end(format) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}